@model ScaffoldExistingExample.Models.track

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>track</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Composer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Composer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Milliseconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Milliseconds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bytes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bytes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrackId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
