@model IEnumerable<FinalProject.Models.Post>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "The Wall";
}

@if(SignInManager.IsSignedIn(User))
{
    <div class="text-center" style="margin-bottom: 1rem; font-size: large;">
        <a asp-controller="Post" asp-action="CreatePost">Click Here to Create a Post</a>
    </div>
}else
{
    <div class="text-center" style="margin-bottom: 1rem; font-size: large;">
        <p>Sign In to Post Something</p>
    </div>
}
<div class="post-wall">
    <div class="post-container">
        @foreach(var post in Model)
        {
        <div class="post">
            <div class="post-title">@post.Title</div>
            <div class="post-content">@post.Content</div>
            <!--If the user signed in matches the poster's name show the edit and delete buttons'-->
            <div class="post-info">Created By: @post.CreatedBy</div>
            <div class="post-info">Date Created: @post.TimeStamp</div>
            <!--User.Identity.Name == post.CreatedBy-->
            @if (User.Identity.Name == post.CreatedBy)
            {
                <div class="post-buttons">
                    <a asp-controller="Post" asp-action="EditPost" asp-route-id="@post.Id" style="margin-right: 5px">Edit</a>
                    <a asp-controller="Post" asp-action="DeletePost" asp-route-id="@post.Id">Delete</a>
                </div>
            }
        </div>
        <br />
        }
    </div>
</div>