@model Lesson6_HandsOn.Models.Alien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumArms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumArms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumHeads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumHeads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumLegs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumLegs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanetOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanetOfOrigin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
