@model IEnumerable<Lesson6_HandsOn.Models.Alien>

@{
    ViewData["Title"] = "Index";
    int DisplayValue = 25;
}

<h1>Index</h1>
<input type="number" value="@DisplayValue"/>
<button>Display</button>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumArms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumHeads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumLegs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanetOfOrigin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Take(DisplayValue)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumArms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumHeads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumLegs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanetOfOrigin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
